ProyectoMVC/Connected Services/ServiceReferenceAW/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6180/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoWCF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_HumanResources_Department_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartamentoID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_HumanResources_Department_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_Production_ProductCategory_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_Production_ProductCategory_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_Production_UnitMeasure_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitMeasureCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DELETE_Production_UnitMeasure_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_HumanResources_Department_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_HumanResources_Department_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_Production_ProductCategory_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_Production_ProductCategory_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_Production_UnitMeasure_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitMeasureCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSERT_Production_UnitMeasure_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_HumanResources_Departments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_HumanResources_DepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoWCF" minOccurs="0" name="SELECT_HumanResources_DepartmentsResult" nillable="true" type="q1:ArrayOfSELECT_HumanResources_Department_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_Production_ProductCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_Production_ProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProyectoWCF" minOccurs="0" name="SELECT_Production_ProductCategoryResult" nillable="true" type="q2:ArrayOfSELECT_Production_ProductCategory_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_Production_UnitMeasure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_Production_UnitMeasureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProyectoWCF" minOccurs="0" name="SELECT_Production_UnitMeasureResult" nillable="true" type="q3:ArrayOfSELECT_Production_UnitMeasure_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_HumanResources_Department_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" type="xs:short" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_HumanResources_Department_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_Production_ProductCategory_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_Production_ProductCategory_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_Production_UnitMeasure_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitMeasureCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UPDATE_Production_UnitMeasure_ResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>